#error-spaces{
    text-align: center;
    margin:auto;
    color: #9e330c;
}
body {
    margin: 0;
    padding: 10px;
    background-color: rgb(33, 40, 33);
    font-family:'Arial';
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    min-width: 400px;
    overflow: scroll;
}
#buttons{
    text-align: center;
    margin:auto;
}
#inp{
    align-self: center;
    width:50%;
    align-items: center;
    margin:auto;
    height: 40px;
    background-color: rgb(172, 16, 16);
    margin-bottom: 30px;
}
input{
    width:100%;
    height:100%;
    margin:auto;
    font-size: 25px;
}
#heading{
    text-emphasis: bold;
    margin-top: 180px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 80px;
    color:rgb(245, 243, 243);
}
#Entries{
    text-emphasis: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color:rgb(240, 199, 199);
    text-decoration-line: underline;
}
h1{
    margin:auto;
    padding-top: 600 px;
    padding-bottom: 200 px;
    width:100%;
    height: 40px;
    box-sizing: border-box;
    border: 1 px solid #429e0c;
    margin-bottom: 4px;
}
h3{
    margin:auto;
    padding-top: 10 px;
    padding-bottom: 10 px;
    width:100%;
    height: 40px;
    box-sizing: border-box;
    border: 1 px solid #429e0c;
    margin-bottom: 4px;
}
#buttons{
    padding-top:50px;
    text-align: center;
    margin-top:50px;
    margin:auto;
    align-items: center;
}
button {
    padding: 5px 5px;
    width:110px;
    height:50px;
    margin-left: 30px;
    border:none;
    font-weight: bold;
    background-color: rgb(246, 216, 66);
}
ul {
   /* list-style: none; */
    padding-left: 0px;
    padding-bottom: 0px;
    overflow: scroll;
    width: 600px;
    max-height:700px;
    margin:auto;
    font-size: 30px;
    color: #04496b;
}
li{
    margin-left:10%;
    padding-left: 5px;
    padding-bottom: 10px;
    justify-content:flex-end;
}
a{
    color: #0c9e46;
}
#button-goback{
    text-align: center;
    margin:auto;
    align-items: center;
}
